ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
button{
    margin-top: 14px;
    padding: 8px 16px;
    border-radius: 3px;
    background-color: transparent; 
    border: 2px solid #af9a7d;
    font-weight: bold;
    color:  rgb(10, 97, 119);
    transition: .3s;
}
button:hover{
    color:  #af9a7d;
}
button:focus{
    outline: none;
    color:  #af9a7d;
}
button:first-child{
    margin-right: 20px;
}
.navbar{
    background:#f7f7f7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 0.75rem 2rem;
    z-index: 1;
}
.navbar .nav-header{
    display: flex;
    margin:10px 0;
}
.navbar .nav-header .link-profile{
    display: none;
}
.navbar .nav-header .nav-logo {
    height: 100%;
    display: flex;
    align-items: center;
}
.navbar .nav-header .nav-content {
    display: flex;
    align-items: center;
    margin:0;
}
.navbar .nav-header .nav-content li{
    list-style-type: none;
    padding: 8px 20px;
}
.navbar .nav-header .nav-content li a{
    text-decoration: none;
    color:  rgb(10, 97, 119);
    font-size: 18px;
    font-weight: 600;
    transition: .3s;
}


.navbar .nav-header .nav-content li a:hover{
    color: #af9a7d;
}
.navbar .profile{
    margin-top: 2px;
    float:right;
    margin-right:60px;
    display:flex;
    align-items:center;
    position:relative;
    height: 40px;
}
.navbar .profile .name{
    margin-right: 10px;
    margin-top: 10px;
    font-size:18px;
    font-weight:600;
}
.navbar .profile .profile-box{
    position: absolute;
    z-index: 1;
    width: 120px;
    background-color: #f7f7f7;
    right: 50px;
    top: 40px;
}

.navbar .profile .profile-box ul{
    padding: 10px;
}
.navbar .profile .profile-box ul li{
    padding: 6px;
    font-size: 17px;
    cursor: pointer;
    transition-duration: .2s;
}
.navbar .profile .profile-box ul li:hover{
    font-weight: bold;
    color: #af9a7d;
}
.navbar .profile .icon-down-profile{
    margin:10px 10px 0 0;
    cursor:pointer;
}
.navbar .profile .wrapper-img{
    margin-top: 8px;
    width: 40px;
    height: 40px;
    border-radius:50%;
}
.navbar .profile img{
    width: 100%;
    border-radius:50%;
    border: 2px solid #af9a7d;
}

.nav-btn{
    font-size: 16px;
    outline:none;
    cursor: pointer;
    border:none;
    background: transparent;
    display:none;
}

@media (max-width: 768px){
    .navbar .profile{
        display: none;
    }
    .navbar{
        padding: 0.75rem 0;
    }
    .navbar .nav-header .nav-logo {
        padding-left: 2rem;
    }
    .nav-btn{
        display:block;
        position: absolute;
        top:31px;
        right: 10px;
        font-size:22px;
        color: #af9a7d;
    }
    .navbar .nav-header{
        display:block;
    }
    .navbar .nav-header .nav-content{
        display: none;
    }
    .navbar .nav-header .show{
        padding: 10px 0;
        width:100%;
        margin: 0;
        display: block;
    }
    .navbar .nav-header .link-profile{
        display: block;
    }
    .navbar .nav-header .nav-content li{
        width: 100%;
        text-align: center;
    }
}